

body {
    padding: 30px;
    background-color: rgb(154, 154, 154);
}

h2 {
    font-style: italic;
}

.listing {
    margin: 4rem;
    padding: 14px;
    text-decoration: dashed;
    font-style: italic;
    border: 1px solid beige;
    border-radius: 20px;
    list-style: none;
    
}

.listing img {
    max-width: 300px; 
    max-height: 200px;
}