body {
    padding: 30px;
    background-color: rgb(154, 154, 154);
}

ul {
    padding: 10px;
    margin: 10px;
}

.nav-item.home {
    border: 1px solid rgba(245, 245, 220, 0.55);
    border-radius: 2px;
    background-color: rgb(210, 210, 210);
    margin-right: 30px;
}

.nav-item.home:hover {
    background-color: rgb(208, 193, 76);
}

.nav-item.home.disabled {
    background-color: rgb(161, 161, 161);
}

.listing {
    margin: 4rem;
    padding: 14px;
    text-decoration: dashed;
    font-style: italic;
    border: 1px solid beige;
    border-radius: 20px;
    list-style: none;
    
}

.listing h2 {
    font-style: normal;
}

.listing img {
    max-width: 300px; 
    max-height: 200px;
}

.nav-link.home {
    color: azure;
}

.nav-link.disabled {
    color: rgb(64, 64, 64);
    pointer-events: none;  /* This disables the link functionality */
    cursor: default;       /* Changes the cursor to default */
    text-decoration: none; /* Remove underline to show it's not a link */
}

.listing .current_bid {
    display: inline-block;
    border: 1px solid rgb(65, 47, 45);
    font-weight: bold;
    padding: 3px;
    font-style: normal;
}

.bid {
    padding: 40px;
    margin-bottom: 30px;
    border: 1px solid beige;
    border-radius: 20px;
}

.comments {
    padding: 40px;
    border: 1px solid beige;
    border-radius: 20px;

}

.comment li {
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}