{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <h3>{{ listing.title }}</h3>
                <p>{{ listing.description }}</p>
                <p>Starting Bid: ${{ listing.start_bid }}</p>
                {% if listing.current_bid %}
                    <p>Current Bid: ${{ listing.current_bid }}</p>
                {% endif %}
                <p>Category: {{ listing.category }}</p>
                <p>End Date: {{ listing.end_date }}</p>
            </li>
        {% empty %}
            <p>No active auctions at the moment.</p>
        {% endfor %}
    </ul>

{% endblock %}