{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
        <div class="listing">
            <li>
                <h3>
                    <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                </h3>
                    <p>{{ listing.description }}</p>
                    <p>Starting Bid: ${{ listing.start_bid }}</p>
                    {% if listing.current_bid %}
                        <p>Current Bid: ${{ listing.current_bid }}</p>
                    {% endif %}
                    <p>Category: {{ listing.category }}</p>
                    {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }} image">
                    {% endif %}
                    <p>End Date: {{ listing.end_date }}</p>
                </a>
            </li>
        </div>
        {% empty %}
            <p>No active auctions at the moment.</p>
        {% endfor %}
    </ul>

{% endblock %}