{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav d-flex">
            <li class="nav-item home {% if request.resolver_match.url_name == 'index' %}disabled{% endif %}">
                <a class="nav-link home {% if request.resolver_match.url_name == 'index' %}disabled{% endif %}" href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <div class="nav logged-in">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'logout' %}disabled{% endif %}" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'createListing' %}" class="nav-link {% if request.resolver_match.url_name == 'createListing' %}disabled{% endif %}">Create listing</a>
                </li>
            </div>
            {% else %}
            <div class="nav logged-out">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'login' %}disabled{% endif %}" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'register' %}disabled{% endif %}" href="{% url 'register' %}">Register</a>
                </li>
            </div>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>